
.body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
.imagen_principal{
    height: 140px;
    width: 140px;
    margin-left: 110px;
}
.header{
    display: flex;
    justify-content: space-between; 
    background-color:#ffffff ;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu{
    display: none;
}
.btn-pos{
    margin-left: 160px;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #96C1BA;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #fff;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #091c38;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
.btn-menu{
    font-size: 50px;
    padding-right: 90px;
    
}
.boton_principal {
    border: none;
    background-color: #96C1BA;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}
.botones{
    margin-left: 12em;
}
.fondo{
    background-color: #96C1BA;
    height: auto;
    width: auto;
}
.imagen_fondo{
    height: 639px;
}
.enlace {
    text-decoration: none; 
    color: #333; 
}
.enlace:hover {
    text-decoration: underline; 
}
.titulo_hilos{
    padding-left: 50px;
}
.titulo_facial{
    padding-left: 16px;
}
.hilos{
    padding-left: 30px;
    justify-content: space-between; 
    background-color:  #e9e9e9;
}
.texto_hilos{
    width: 300px;
    padding-left: 5px;
}
.img_hilos{
    height:300px  ;
    padding-left: 30px;
}
.img_micro{
    height:300px  ;
    padding-left: 50px;
    
}
.img_facial{
    height:300px  ;
    padding-left: 20px;
}
.texto_micro{
    width: 300px;
}